default: &default
  adapter:  postgresql
  encoding: unicode
  pool:     <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  username: <%= ENV["POSTGRES_USER"]     %>
  password: <%= ENV["POSTGRES_PASSWORD"] %>
  host:     <%= ENV["POSTGRES_HOST"]     %>
  port:     <%= ENV["POSTGRES_PORT"]     %>

development:
  <<: *default
  database: ama_development

test:
  <<: *default
  database: ama_test

production:
  <<: *default
  database: ama_production
